#divi
{
border-top-style: dashed;
border-bottom-style: solid;
border : 2px dashed ;
width:60%;
margin-right:40%;
margin-right:40%;
padding : 10px 1%1%;
outline-width: thick;
outline-style: double;
outline-color:#7FFF00;
position:relative;
border: 5px dashed brown ;
margin-top:-5%;
}
#iform
{
	 margin:25px;
	 font-size:30px;
	width:100%;
}
.alink
{
font-size:25px;
text-decoration: none;
display: inline;
}
.alink:hover{color:yellow;}

#menu {
    list-style-type: none;
    margin-top:0%;
    padding:14px;
    width: 0%;
    background-color:#66CDAA;
    width: 100%;
    overflow:auto;
	position:relative;
  
}
li{
display: inline-block;
float : center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    background-color:orange;
}
li a:hover{color: #FF1493;}

li a:hover
{
background-color: green;
color: #8B0000;
}



.dropdown{
    display: inline-block;
	float:center;
	position:fixed;
	 cursor: pointer;
	list-style-type:none;
}
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
	padding:10px 10px;
	text-align:center;

}
.dropdown-content a {
    color: black;
    padding: 14px 50px;
    text-decoration: none;
    display:block;
}
.dropdown-content a:hover 
{
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content 
{
    display:block;
}

.rightdiv
{
	width:20%;
	height:40%;
	border:5px solid green;
	position:absolute;
	float:right;
	margin-left:75%;
	margin-top:-1%;
	margin-right:2%;
	overflow:scroll;
	
	
}
